.num-id{
    text-align: start;
}

.card{
    background-color: white;
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.tab-poke{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.types-poison {
    font-size: 12px;
    padding: 2px 5px;
    background: mediumvioletred;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    border: solid 1px black;
}
.types-grass{

    font-size: 12px;
    padding: 2px 5px;
    background: green;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-fire{
    font-size: 12px;
    padding: 1px 4px;
    background: red;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-flying{
    font-size: 12px;
    padding: 1px 4px;
    background: cornflowerblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-ice{
    font-size: 12px;
    padding: 1px 4px;
    background: deepskyblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-bug{
    font-size: 12px;
    padding: 1px 4px;
    background: olivedrab;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-water {
    font-size: 12px;
    padding: 1px 4px;
    background: cadetblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-normal{
    font-size: 12px;
    padding: 1px 4px;
    background: grey;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}