
.types-poison {
    font-size: 12px;
    padding: 2px 5px;
    background: mediumvioletred;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    border: solid 1px black;
}
.types-grass{

    font-size: 12px;
    padding: 2px 5px;
    background: green;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-fire{
    font-size: 12px;
    padding: 1px 4px;
    background: red;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-flying{
    font-size: 12px;
    padding: 1px 4px;
    background: cornflowerblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-ice{
    font-size: 12px;
    padding: 1px 4px;
    background: deepskyblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-bug{
    font-size: 12px;
    padding: 1px 4px;
    background: olivedrab;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-water {
    font-size: 12px;
    padding: 1px 4px;
    background: cadetblue;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-normal{
    font-size: 12px;
    padding: 1px 4px;
    background: grey;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-electric{
    font-size: 12px;
    padding: 1px 4px;
    background: #fcd600;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-ground{
    font-size: 12px;
    padding: 1px 4px;
    background: #c5c5c5;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-fairy{
    font-size: 12px;
    padding: 1px 4px;
    background: #e466ff;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-fighting{
    font-size: 12px;
    padding: 1px 4px;
    background: #97501b;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-rock{
    font-size: 12px;
    padding: 1px 4px;
    background: #c0947a;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}
.types-dragon{
    font-size: 12px;
    padding: 1px 4px;
    background: #26b998;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}
.types-ghost{
    font-size: 12px;
    padding: 1px 4px;
    background: #dedede;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}
.types-steel{
    font-size: 12px;
    padding: 1px 4px;
    background: #785500;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}

.types-psychic{
    font-size: 12px;
    padding: 1px 4px;
    background: #240097;
    margin-left: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    border: solid 1px black;
}