.card{
    background-color: white;
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tab-poke{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}